/* to change the font to a custom one, use google fonts.
you will need a little bit of css experience, so you might want to learn it for just one second... */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
	/* global (no light/dark mode specific because... its kinda stupid
	if you do want to make it l/d specific, go ahead. nobody's stopping you.
	*/
	--font: "lexend";
	/* NOTE: having any sort of blur makes firefox lag, be weary. For more info, see the #Working-browsers section of readme.md */
	--blur-background: 0px; /* background blur. Set to 0 if you're worried about performance. */

	--profile-logo-radius: 10ex; /* set to 0ex for square. */

	/* light mode specific */
	--color-bg: #ddd;
	--color-text: #1b1b1b;
	/* button colors */
	--color-button-default-nohover: #00ccff;
	--color-text-button-default-nohover: #00ccff;
	--color-button-default-hover: #00ccff;
	--color-text-button-default-hover: #000;

	--image-background-bg: url("img/whatlight.svg"); /* light mode background */

	--image-profile-logo: url('https://avatars.githubusercontent.com/u/75321465?v=4'); /* light mode profile logo */
}
@media(prefers-color-scheme: dark) {
	:root {
		/* dark mode specific */
		--color-bg: #1b1b1b;
		--color-text: #ddd;
		/* button colors */
		--color-button-default-nohover: #0090b4;
		--color-text-button-default-nohover: #0090b4;
		--color-button-default-hover: #0090b4;
		--color-text-button-default-hover: #fff;

		--image-background-bg: url('img/whatdark.svg'); /* dark mode background */

		--image-profile-logo: url('https://avatars.githubusercontent.com/u/75321465?v=4'); /* dark mode profile logo */
	}
}

/* don't edit anything below, unless you know what you're doing. */

@keyframes fade-in{from{opacity:0}to{opacity:1}}

* {
	/* applying this on * may be a little laggy, maybe try something else? */
	font-family: var(--font) !important;
	font-weight: 400;
	text-align: center;

	scroll-behavior: smooth;

	/* attribution: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	/* attribution: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
	display: none;
}

body {
	/* background */
	background-color: var(--color-bg);
	background-image: var(--image-background-bg);
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(var(--blur-background));

	/* general */
	color: var(--color-text);

	padding: 0px;
	margin: 0px;

	/* entry animation */
	opacity: 0;
	transform: translateY(-10px);
	animation: fade-in 0.5s ease-out forwards 0.5s;
}

#profile-logo {
	border-radius: var(--profile-logo-radius);
	content: var(--image-profile-logo);
	height: 150px;
	width: 150px
}

/* button */
/* custom style */

.button--anim-left-to-right::before {
	transform: skew(0deg, 0) translate(-90%);
}
a .button--anim-left-to-right:hover::before {
	transform: skew(0deg, 0) translate(-10%);
}

.button--anim-right-to-left::before {
	/* TODO: more accurate value? */
	transform: skew(0deg, 0) translate(73%);
}
a .button--anim-right-to-left:hover::before {
	transform: skew(0deg, 0) translate(0%);
}

.button--anim-left-to-right-full::before {
	transform: skew(0deg, 0) translate(-100%);
}
a .button--anim-left-to-right-full:hover::before {
	transform: skew(0deg, 0) translate(0%);
}

.button--anim-right-to-left-full::before {
	transform: skew(0deg, 0) translate(83.5%);
}
a .button--anim-right-to-left-full:hover::before {
	transform: skew(0deg, 0) translate(0%);
}


.button--anim-skew-left::before {
    transform: skew(-70deg, 0) translate(-110%);
}

a .button--anim-skew-left:hover::before {
    transform: skew(-70deg, 0) translate(-10%);
}

.button--anim-skew-right::before {
    transform: skew(70deg, 0) translate(-110%);
}

a .button--anim-skew-right:hover::before {
    transform: skew(70deg, 0) translate(-10%);
}

.button--anim-skew-translate-in::before {
    transform: skew(70deg, 0) translate(100%);
}

a .button--anim-skew-translate-in:hover::before {
    transform: skew(70deg, 0) translate(-5%);
}

.button--anim-skew-translate-out::before {
    transform: skew(-70deg, 0) translate(101.5%);
}

a .button--anim-skew-translate-out:hover::before {
    transform: skew(-70deg, 0) translate(-5%);
}

/* the actual styles */

button {
	box-sizing: inherit;
	background-color: transparent;
	color: var(--color-text-button-default-nohover);
	border: 1px solid var(--color-button-default-nohover);
	cursor: pointer;
	padding: 15px 15px;
	width: 100%;
	transition: background-color 300ms, color 300ms;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

	position: relative;
	overflow: hidden;
}

button::before{
	content: '';
	position: absolute;
	width: 120%;
	height: 100%;
	background-color: var(--color-button-default-hover);
	left: 0;
	top: 0;
	z-index: 0;
	transition: transform 300ms;
}
button h1 {
	position: relative;
	display: block;
	z-index: 100;
}
button img {
	transition: transform 300ms;
}
button:hover img {
	transform: translateY(-5px);
	animation: 1s ease-out forwards;
}

a button:hover {
	color: #fff;
	background-color: #00ccff;
	background-color: inherit;
}

button {
	max-width: 340px;
}

@media (max-width: 800px) {
	button {
		max-width: 90%;
	}
	/* button::before {
		display: none;
	} */
}