/* to change the font to a custom one, use google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

/* NOTE: this stylesheet isn't meant to be used in any other environment other than 'bad-linktree', its quite "fragile". */

:root {
	/* global variables */
	--font: "lexend";
	--blur-background: 10px; /* background blur */

	--profile-logo-radius: 10ex; /* how circle-y your profile logo will be. */

	/* light mode specific */
	--color-bg: #ddd;
	--color-text: #1b1b1b;
	/* button colors */
	--color-button-default-nohover: #0cf;
	--color-text-button-default-nohover: #0cf;
	--color-button-default-hover: #0cf;
	--color-text-button-default-hover: #000;

	--image-background-bg: url("img/whatlight.svg"); /* light mode background */

	--image-profile-logo: url('https://avatars.githubusercontent.com/u/75321465?v=4'); /* light mode profile logo */
}
@media (prefers-color-scheme: dark) {
	:root {
		/* dark mode specific */
		--color-bg: #1b1b1b;
		--color-text: #ddd;
		/* button colors */
		--color-button-default-nohover: #0090b4;
		--color-text-button-default-nohover: #0090b4;
		--color-button-default-hover: #0090b4;
		--color-text-button-default-hover: #fff;

		--image-background-bg: url('img/whatdark.svg'); /* dark mode background */

		--image-profile-logo: url('https://avatars.githubusercontent.com/u/75321465?v=4'); /* dark mode profile logo */
	}
}

/* don't edit anything below, unless you know what you're doing. */

@keyframes fade-in {
	from {opacity:0}
	to {opacity:1}
}

@keyframes fade-out {
	from {opacity:1}
	to {opacity:0}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0)}
	40% {transform: translateY(-10px)}
	60% {transform: translateY(-5px)}
}

#loading {
	display: none;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}
#loadingcentered {
	left: 0;
	right: 0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}
#loadingtext {
	animation: bounce 1s ease infinite;
}

.loadingout {
	animation: fade-out 0.5s ease-out !important;
}
.loadingin {
	animation: fade-in 0.5s ease-out !important;
}

html {
	text-align: center;

	/* attribution: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html, button {
	font-family: var(--font) !important;
}

body::-webkit-scrollbar {
	/* attribution: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
	display: none;
}

body {
	/* background */
	background-image: var(--image-background-bg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/* backdrop-filter: blur(var(--blur-background)); */

	/* general */
	background-color: var(--color-bg);
	color: var(--color-text);

	padding: 0px;
	margin: 0px;
	margin-bottom: -10px !important; /* stupid fix */
}

.blurred {
	backdrop-filter: blur(var(--blur-background));
}

/* TODO: readd the .animate, but it interferes with the loading text. */
/* body .animate { */
	/* opacity: 0; */
	/* animation: fade-in 0.5s ease-out forwards 0.5s; */
	/* animation: fade-in 4s ease-out forwards 4s; */
/* } */

#profile-logo {
	margin-top: 40px;
	border-radius: var(--profile-logo-radius);
	content: var(--image-profile-logo);
	height: 150px;
	width: 150px;
}

.herotitle {
	font-size: 3em;
	margin: 0px;
}

#content {
	display: inherit; /* incase the user has js disabled, this will be manually hidden by JS. */

	opacity: 0;
	transform: translateY(-10px);
	animation: fade-in 0.5s ease-out forwards 0.5s;
}

/* button */
/* custom style */

.button--anim-left-to-right::before {
	transform: skew(0deg, 0) translate(-90%);
}
a .button--anim-left-to-right:hover::before {
	transform: skew(0deg, 0) translate(-10%);
}

.button--anim-right-to-left::before {
	/* TODO: more accurate value? */
	transform: skew(0deg, 0) translate(73%);
}
a .button--anim-right-to-left:hover::before {
	transform: skew(0deg, 0) translate(0%);
}

.button--anim-left-to-right-full::before {
	transform: skew(0deg, 0) translate(-100%);
}
a .button--anim-left-to-right-full:hover::before {
	transform: skew(0deg, 0) translate(0%);
}

.button--anim-right-to-left-full::before {
	transform: skew(0deg, 0) translate(83.5%);
}
a .button--anim-right-to-left-full:hover::before {
	transform: skew(0deg, 0) translate(0%);
}


.button--anim-skew-left::before {
	transform: skew(-70deg, 0) translate(-110%);
}

a .button--anim-skew-left:hover::before {
	transform: skew(-70deg, 0) translate(-10%);
}

.button--anim-skew-right::before {
	transform: skew(70deg, 0) translate(-110%);
}

a .button--anim-skew-right:hover::before {
	transform: skew(70deg, 0) translate(-10%);
}

.button--anim-skew-translate-in::before {
	transform: skew(70deg, 0) translate(100%);
}

a .button--anim-skew-translate-in:hover::before {
	transform: skew(70deg, 0) translate(-5%);
}

.button--anim-skew-translate-out::before {
	transform: skew(-70deg, 0) translate(101.5%);
}

a .button--anim-skew-translate-out:hover::before {
	transform: skew(-70deg, 0) translate(-5%);
}

/* the actual styles */

button {
	box-sizing: inherit;
	background-color: transparent;
	color: var(--color-text-button-default-nohover);
	border: 1px solid var(--color-button-default-nohover);
	cursor: pointer;
	padding: 15px 15px;
	width: 100%;
	transition: background-color 300ms, color 300ms;
	margin-bottom: 10px;

	position: relative;
	overflow: hidden;
}

button::before{
	content: '';
	position: absolute;
	width: 120%;
	height: 100%;
	background-color: var(--color-button-default-hover);
	left: 0;
	top: 0;
	z-index: 0;
	transition: transform 300ms;
}
button h1 {
	position: relative;
	display: block;
	z-index: 100;
	font-weight: 400;

	text-shadow: 0px 0px 10px var(--color-bg); /* incase the ::before element covers the text */
}
button img {
	width: 30px;
	transition: transform 300ms;
}
button:hover img {
	transform: translateY(-5px);
	animation: 1s ease-out forwards;
}

a button:hover {
	color: var(--color-text-button-default-hover);
	background-color: #00ccff;
	/* remove inherit for a cool effect */
	background-color: inherit;
}

button {
	max-width: 340px;
}

@media (max-width: 820px) {
	button {max-width:90%}
	body {
		padding-right: 5%;
		padding-left: 5%;
	}
	.herotitle {
		font-size: 2em;
	}
}
